    location /nexus {
    client_max_body_size 1G;
    proxy_set_header Host $host:$server_port;
    proxy_set_header X-Real-IP $remote_addr;
    #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #proxy_set_header X-Forwarded-Proto "https";
    proxy_pass http://localhost:8081/nexus;
    }

    # Docker /v2 and /v1 (for search) requests
    location /v2 {
    client_max_body_size 1G;
    proxy_set_header Host $host:$server_port;
    proxy_set_header X-Real-IP $remote_addr;
    #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #proxy_set_header X-Forwarded-Proto "https";
    proxy_pass http://localhost:8081/nexus/repository/docker-group/$request_uri;
    }
    location /v1 {
    client_max_body_size 1G;
    proxy_set_header Host $host:$server_port;
    proxy_set_header X-Real-IP $remote_addr;
    #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #proxy_set_header X-Forwarded-Proto "https";
    proxy_pass http://localhost:8081/repository/docker-group/$request_uri;
    }
