server {
    listen [::]:80;
    listen 80;
    server_name {{ https_domain }};

    location / {
        return 301 https://$host$request_uri;
    }
}
server {
    listen [::]:443 ssl ipv6only=on; 
    listen 443 ssl; 
    ssl_certificate /etc/letsencrypt/live/{{ https_domain }}/fullchain.pem; 
    ssl_certificate_key /etc/letsencrypt/live/{{ https_domain }}/privkey.pem; 
    include /etc/letsencrypt/options-ssl-nginx.conf; 
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; 

    server_name {{ https_domain }}; 
    include /opt/nginx/*.conf;
}